body {
  height: 100vh;
  background-color: #9ea6a7;
}

.header-container {
  display: flex;  
  justify-content: space-around;
  align-items: baseline;
} 

// .header-button {
//   height: 30px;
//   width: 60px;
//   cursor: pointer;
//   border-radius: 3px;
//   border: none;
//   outline: none;
// }

.header-button {
  width: 100px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  // border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.header-button:hover {
  background-color: #101111;
  box-shadow: 0px 15px 20px rgba(34, 37, 36, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

a, .info-about {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a > i {
  color: white;
  font-size: 200%;
}

.info-about > i {
  color: white;
  font-size: 200%;
  cursor: pointer;
}

.title {
  width: 280px;
  color: rgb(13, 22, 109);
  padding: 1%;
}

.game-container {
  display: flex;
  height: 90%;
  justify-content: space-between;
}

.links-container {
  height: 50%;
  margin: auto 0px;
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
  width: 90%;
  display: flex;
  height: 90%;
}

#grid {
  border: 2px solid gray;
  width: 90%;
  margin: 0px auto;
  height: 100%;
}

.node-row {
  display: flex;
  height: 5%;
}

.node {
  width: 50px;
  border: 1px solid gray;
}

.node-start {
  background-color: white
}

.node-finish {
  background-color: green;
}

.indo-container {
  height: 50%;
  margin: auto 0px;
}

.info-container {
  height: 50%;
  margin: auto 0px;
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

.clicked {
  background-color:white
}

.wall {
  background-color: rgb(32, 32, 32);
  border: 1px solid rgb(0, 0, 0);
}