body {
  height: 100vh;
  background-color: tan;
}

.header-container {
  display: flex;  
  justify-content: space-around;
  align-items: baseline;
} 

.header-button {
  height: 30px;
  width: 60px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  outline: none;
}

a, .info-about {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a > i {
  color: white;
  font-size: 200%;
}

.info-about > i {
  color: white;
  font-size: 200%;
  cursor: pointer;
}

.title {
  width: 280px;
  color: rgb(13, 22, 109);
  padding: 1%;
}

.game-container {
  display: flex;
  height: 90%;
  justify-content: space-between;
}

.links-container {
  height: 50%;
  margin: auto 0px;
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
  width: 90%;
  display: flex;
  height: 90%;
}

#grid {
  border: 2px solid gray;
  width: 90%;
  margin: 0px auto;
  height: 100%;
}

.node-row {
  display: flex;
  height: 5%;
}

.node {
  width: 50px;
  border: 1px solid gray;
}

.node-start {
  background-color: yellow;
}

.node-finish {
  background-color: green;
}

.indo-container {
  height: 50%;
  margin: auto 0px;
}

.info-container {
  height: 50%;
  margin: auto 0px;
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}

.clicked {
  background-color:white
}

.wall {
  background-color: rgb(32, 32, 32);
  border: 1px solid rgb(0, 0, 0);
}