.legend-container {
  display: flex;
  flex-direction: column;
}

.legend-content {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid aliceblue;

  p {
    color: aliceblue;
  }
}

.black-path {
	height: 20px;
  width: 20px;
  background-color: black;
	border: 1px solid gray;
}

.red-path {
	height: 20px;
  width: 20px;
	background-color: rgb(192, 24, 24);
	border: 1px solid gray;
}

.white-path {
	height: 20px;
  width: 20px;
	background-color: white;
	border: 1px solid gray;
}

.yellow-path {
	height: 20px;
  width: 20px;
	background-color: rgb(250, 253, 43);
	border: 1px solid gray;
}

.green-path {
	height: 20px;
  width: 20px;
	background-color: rgb(3, 121, 52);
	border: 1px solid gray;
}

// .light-blue-path {
// 	height: 20px;
//   width: 20px;
// 	background-color: rgba(0, 190, 218, 0.75);
// 	border: 1px solid gray;
// }

.light-blue-path {
	height: 20px;
  width: 20px;
	// background-color: rgba(0, 190, 218, 0.75);
	border: 1px solid gray;
  animation-name: lightBluePath;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes lightBluePath {
 0% {
    transform: scale(0.3);
    background-color: rgb(0, 0, 66);
    border-radius: 100%;
  }

  10% {
    background-color: rgb(17, 104, 217);
  }

  20% {
    transform: scale(1.2);
    background-color: rgb(0, 217, 159);
  }

  30% {
    transform: scale(1);
    background-color: rgb(0, 190, 218);
  }

  100% {
    transform: scale(1);
    background-color: rgb(0, 190, 218);
  }
}

.red-path {
	height: 20px;
  width: 20px;
	// background-color: rgba(0, 190, 218, 0.75);
	border: 1px solid gray;
  animation-name: redPath;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes redPath {
  0% {
    transform: scale(0.3);
    background-color: rgb(0, 190, 218);
    border-radius: 100%;
  }

  10% {
    background-color: rgb(43, 253, 106);
  }

  20% {
    transform: scale(1.2);
    background-color: rgb(250, 253, 43);
  }

  25% {
    background-color: rgb(243, 124, 12);
  }

  30% {
    transform: scale(1);
    background-color: rgb(238, 62, 56);
  }

  100% {
    transform: scale(1);
    background-color: rgb(238, 62, 56);
  }
}

.green-path {
	height: 20px;
  width: 20px;
	// background-color: rgba(0, 190, 218, 0.75);
	border: 1px solid gray;
  animation-name: greenPath;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes greenPath {
  0% {
    transform: scale(0.3);
    background-color: rgb(0, 0, 66);
    border-radius: 100%;
  }

  10% {
    background-color: rgb(17, 104, 217);
  }

  20% {
    transform: scale(1.2);
    background-color: rgb(43, 221, 253);
  }

  30% {
    transform: scale(1);
    background-color: rgb(3, 121, 52);
  }

  100% {
    transform: scale(1);
    background-color: rgb(3, 121, 52);
  }
}

.yellow-path {
	height: 20px;
  width: 20px;
	// background-color: rgba(0, 190, 218, 0.75);
	border: 1px solid gray;
  animation-name: yellowPath;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes yellowPath {
  100% {
    transform: scale(1);
    background-color: rgb(250, 253, 43);
	}

  0% {
    transform: scale(0.3);
    background-color: rgb(0, 190, 218);
    border-radius: 100%;
  }

  10% {
    background-color: rgb(0, 247, 193);
  }

  20% {
    transform: scale(1.2);
    background-color: rgb(43, 253, 54);
  }

  30% {
    transform: scale(1);
    background-color: rgb(250, 253, 43);
	}
}