.modal { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
.modal-content {
  background-color: rgba(0, 0, 0, 0.8);

  p {
    color: aliceblue;
    font-size: larger;
  }

  #link-lead {
    width: 120%;
  }

  div {
    display: flex;
  }

  a {
    color: aliceblue;
    width: 160px;
    margin-right: 280px;
    line-height: 1.3;
    text-decoration: underline;
  }
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: #fff;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}
 
.modal-header,
.modal-footer {
  background: black;
  color: aliceblue;
  font-size: larger;
}
 
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.modal-header .modal-close {
  font-size: 1.5rem;
}
 
.modal p + p {
  margin-top: 1rem;
}
 
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

[data-animation="slideInOutLeft"] .modal-dialog {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
 
[data-animation="slideInOutLeft"].is-visible .modal-dialog {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}
